@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500|Nova+Round:300,400,500');


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.main {
  background: -webkit-radial-gradient(100% 80%,circle farthest-side,#dbf6c8 20%,#1cafc6 50%,#012690 110%);
  height: 1200px;
  width:100vw;
}

#codebank-nav {
  margin-top: 0;
  max-height: 100px;
}

.logo {
  font-family: 'Nova Round', cursive;
  letter-spacing: .2rem;
  font-size: 50px;
  color: #FBFCFD;
  display: inline-block;
  margin-top: 2vh;
  margin-left: 30px;
  text-align: center;
  text-decoration: none;
}

.logo a {
  font-weight: 300;
  text-decoration: none;
}

.logo a:hover {
  color: #FBFCFD;
}

.auth-button {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  height: 40px;
  width: 100px;
  margin-top: 4vh;
  margin-right: 1.5vw;
  /* border: 1px solid #00b4ff;
  border-radius: 10px;
  background-color: #00b4ff;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(190, 185, 185, 0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(190, 185, 185, 0.5);
  box-shadow: 1px 1px 1px 1px rgba(190, 185, 185, 0.5); */
}

.auth-button a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #FBFCFD;
  text-decoration: none;
}

.auth-button a:hover {
  color: #00b4ff;
  text-decoration: none;
}

.home-button {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  height: 40px;
  width: 100px;
  margin-top: 4vh;
  margin-left: 6vw;
  /* border: 1px solid #00b4ff;
  border-radius: 10px;
  background-color: #00b4ff;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(190, 185, 185, 0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(190, 185, 185, 0.5);
  box-shadow: 1px 1px 1px 1px rgba(190, 185, 185, 0.5); */
}

.home-button a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #FBFCFD;
  text-decoration: none;
}

.home-button a:hover {
  color: #00b4ff;
  text-decoration: none;
}

/*

@-webkit-keyframes auth-button {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes auth-button {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes auth-button-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes auth-button-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.auth-button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.auth-button:hover, .auth-button:focus, .auth-button:active {
  color: #FBFCFD;
  background-color: #00b4ff;
  -webkit-animation-name: auth-button-float, auth-button;
  animation-name: auth-button-float, auth-button;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
} */
