.bank-list-component {
  max-height: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 20px 40px;
  border-radius: 4px;
  padding: 30px;
}

.bank-list-heading {
  color: #FBFCFD;
  font-weight: lighter;
  padding-top: 0;
}

.bank-list-hr {
  background-color: #FBFCFD;
  opacity: 0.2;
  margin-bottom: 20px;
  height: 3px;
  border-radius: 10px;
}

.bank-list-item-container {
  display: flex;
}
