* {
  color: #5c617b;
  font-weight: lighter;
}

.vault-name {
  color: #5c617b;
  font-weight: 400;
}

.vault-description {
  margin-top: 10px;
  color: #6d859e;
}

.bank-list-item {
  cursor: pointer;
  background-color: #ecf3f8;
  min-width: 150px;
  border-radius: 6px;
  text-align: center;
  margin: 0px 10px;
  padding: 10px 30px;
  min-width: 150px;
  border: 0.5px solid #d8e0ea;
  /* box-shadow: 0 1px 3px 0 rgba(59,59,88,.15); */
  -webkit-box-shadow: 4px 4px 10px 0px rgba(176,176,176,0.5);
  -moz-box-shadow: 4px 4px 10px 0px rgba(176,176,176,0.5);
  box-shadow: 4px 4px 10px 0px rgba(176,176,176,0.5);
}

.bank-list-item-link {
  margin: 0;
  display: inline-block;
  text-decoration: none;
}

@-webkit-keyframes bank-list-item {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes bank-list-item {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes bank-list-item-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes bank-list-item-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.bank-list-item {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.bank-list-item:hover, .bank-list-item:focus, .bank-list-item:active {
  -webkit-animation-name: bank-list-item-float, bank-list-item;
  animation-name: bank-list-item-float, bank-list-item;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
