.create-vault-button-container {
  max-height: 70px;
}

.cv {
  float: right;
}

.create-vault-button {
  height: 50px;
  width: 200px;
  margin-top: 14px;
  margin-left: 50px;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #00b4ff;
  border-radius: 10px;
  color: #FBFCFD;
  background-color: #00b4ff;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(176,176,176,0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(176,176,176,0.5);
  box-shadow: 1px 1px 1px 1px rgba(176,176,176,0.5);
  text-align: center;
  padding-top: 10px;
  letter-spacing: .1rem;
  text-decoration: none;
}

.create-vault-button:hover {
  color: #FBFCFD;
  text-decoration: none;
}

@-webkit-keyframes create-vault-button {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes create-vault-button {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes create-vault-button-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes create-vault-button-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.create-vault-button {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.create-vault-button:hover, .create-vault-button:focus, .create-vault-button:active {
  color: #FBFCFD;
  background-color: #00b4ff;
  -webkit-animation-name: create-vault-button-float, create-vault-button;
  animation-name: create-vault-button-float, create-vault-button;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
