.gem-list-item {
  cursor: pointer;
  border: 0.5px solid #d8e0ea;
  border-radius: 10px;
  margin-left: 0px;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #ecf3f8;
}

.gem-list-item h5 {
  color: #5c617b;
  font-weight: lighter;
  text-decoration: none;
  margin-bottom: 10px;
}

.gem-list-item p {
  margin-top: 0px;
  color: #6d859e;
}

@-webkit-keyframes gem-list-item {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes gem-list-item {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@-webkit-keyframes gem-list-item-float {
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes gem-list-item-float {
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.gem-list-item {
  display: block;
  max-width: content;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.gem-list-item:hover, .gem-list-item:focus, .gem-list-item:active {
  -webkit-animation-name: gem-list-item-float, gem-list-item;
  animation-name: gem-list-item-float, gem-list-item;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
