.row {
  margin-top: 26vh;
}

#home-writing p {
  font-family: 'Open Sans', sans-serif;
  color: #FBFCFD;
  font-weight: 40;
  font-size: 48px;
  text-align: center;
}

#explore-button-container {
  font-family: 'Open Sans', sans-serif;
  margin-top: 5vh;
}

.logo-img {
  height: 100px;
  width: 100px;
}

.explore-button {
  height: 50px;
  width: 200px;
  margin-left: 55px;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #00b4ff;
  border-radius: 10px;
  color: #FBFCFD;
  background-color: #00b4ff;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(176,176,176,0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(176,176,176,0.5);
  box-shadow: 1px 1px 1px 1px rgba(176,176,176,0.5);
  text-align: center;
  padding-top: 12px;
  letter-spacing: .1rem;
}

.explore-button a {
  text-align: center;
  color: #FBFCFD;
  text-decoration: none;
}

.explore-button a:hover {
  color: #FBFCFD;
}

@-webkit-keyframes explore-button {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes explore-button {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes explore-button-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes explore-button-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.explore-button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.explore-button:hover, .explore-button:focus, .explore-button:active {
  color: #FBFCFD;
  background-color: #00b4ff;
  -webkit-animation-name: explore-button-float, explore-button;
  animation-name: explore-button-float, explore-button;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
